/* Link Styles */
:root {
	/* Кольори */
	--primary-black: #212121;
	--primary-white: #FFFFFF;
	--dark-background: #2F303A;
	--transparent-white: rgba(255, 255, 255, 0.6);
	--accent: #2196F3;
	--logo-bl: #000000;
	--page-grey: #757575;
	--main-font-family: "Roboto", sans-serif;
	--logo-font-family: "Raleway", sans-serif;
	--btn-hover: #188CE8;
	--light-grey-bgc: #F5F4FA;
}

/* visually-hidden */

.visually-hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}

/* Global styles */
body {
	font-family: var(--main-font-family);
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--page-grey);
}

::selection {
	background-color: var(--accent);
	color: #FFFFFF;
}



.list {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

img {
	display: block;
}

.link {
	text-decoration: none;
	color: currentColor;
}


.container {
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	outline: 2px solid tomato;
}

.header {
	background-color: violet;
	padding: 32px 215px;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;

}

.logo {
	margin-right: 93px;
	display: inline-block;
	padding-top: 24px;
	padding-bottom: 24px;
	color: var(--accent);

	font-family: var(--logo-font-family);
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
}

.header-logo {
	color: var(--logo-bl);
}


.site-nav .link {
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;

	color: var(--primary-black);


}

.header-container {
	display: flex;
	align-items: center;

	margin-left: 0;
	margin-right: 0;
}

.site-nav {
	display: flex;

}

.site-nav .item:not(:last-child) {
	margin-right: 50px;
}

.header-link {
	display: flex;
	margin-left: auto;
}

.header-link .item+.item {
	margin-left: 50px;

}



.header-link .link {
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;

	color: var(--page-grey);

}

/* footer styles */
.footer-logo {
	color: var(--primary-white);
}

.footer {
	background-color: var(--dark-background);
}

.address-link[target="_blank"] {
	color: var(--primary-white);
}


.address {
	font-style: inherit;
	color: var(--transparent-white);
}



/* Custom Styles */
.section-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--primary-black);
}

/* index-page styles */

/* hero-section styles */
.hero-btn:hover,
.hero-btn:focus {
	color: var(--primary-white);
	background-color: var(--btn-hover);
}



.hero-btn {
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	background-color: var(--accent);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	color: var(--primary-white);
	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	cursor: pointer;
}

.hero {
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
	background-color: var(--dark-background);
}

.hero-title {
	display: inline-block;
	margin: 0 452px;
	margin-bottom: 30px;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--primary-white);
}



/* features-section styles */
.features .section-title {
	margin-top: 0;
	margin-bottom: 67px;

}

.features {
	background: green;
	padding-top: 100px;
	padding-bottom: 87px;
}

.features .title {
	margin-top: 0;
	margin-bottom: 10px;
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	color: var(--primary-black);
}

.features p {
	margin-top: 0;
	margin-bottom: 87px;


}

.features p:last-child {
	margin-bottom: 0;
}

/* work-section styles */
.work {
	text-align: center;
	background-color: yellow;
	padding-bottom: 94;
	margin-top: 0;
	margin-bottom: 0;
}

.work .section-title {
	display: inline;
	margin-top: 0;
	margin-bottom: 50px;
}

.work .list {
	display: flex;
	flex-direction: row;
}

.work .list-item {
	margin-bottom: 94px;
	margin-left: auto;
	margin-right: auto;
}

.work .list-item:last-child {
	margin-bottom: 0;
}

/* team-section styles */
.team {
	padding-top: 94px;
	padding-bottom: 94px;
	background-color: var(--light-grey-bgc);
}

.team-item {
	text-align: center;

}

.team .list {
	display: flex;
	flex-direction: row;

}

.team .section-title {
	margin-top: 0;
	margin-bottom: 50px;
}

.team-title,
.team-text,
.team-img {
	margin-top: 0;
	font-size: 16px;
	line-height: 1.19;
}

.team-item {
	margin-left: auto;
	margin-right: auto;
}

.team-text {
	margin-bottom: 30px;
}

.team-title {
	color: var(--primary-black);
	font-weight: 500;
}

/* Portfolio-page styles */
.portfolio {
	padding-top: 94px;
	padding-bottom: 94px;
	text-align: left;
}


.portfolio-list .work-names {
	margin-top: 0;
	margin-bottom: 20px;
}

.portfolio-list .subtitle {
	margin-top: 0;
	margin-bottom: 4px;
}

.filter-btn {
	background-color: var(--light-grey-bgc);
	color: var(--primary-black);
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	text-align: center;
	cursor: pointer;
	border-radius: 4px;
}

.hover-text {
	max-width: 370px;
	margin-top: 0;
}

.filter-list {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
	justify-content: center;
	margin-bottom: 34px;
}

.portfolio-list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 15px;
	padding-bottom: 20px;
}

.filter-btn:hover,
.filter-btn:focus {
	background-color: var(--accent);
	color: var(--primary-white);
}


.portfolio-list .subtitle {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--primary-black);

}

.portfolio-list .work-names {
	font-size: 16px;
	line-height: 1.88;
	margin-top: 0;
	margin-bottom: 0;
}

.site-nav .link:hover,
.site-nav .link:focus,
.header-link .link:hover,
.header-link .link:focus,
.address-link:hover,
.address-link:focus {
	color: var(--accent);
}