/* Link Styles */
:root {
	/* Кольори */
	--primary-black: #212121;
	--primary-white: #FFFFFF;
	--dark-background: #2F303A;
	--transparent-white: rgba(255, 255, 255, 0.6);
	--accent: #2196F3;	
	--logo-bl: #000000;
	--page-grey: #757575;
	--main-font-family: "Roboto", sans-serif;
	--logo-font-family: "Raleway", sans-serif;
	--btn-hover: #188CE8;
	--flt-btn-bgc: #F5F4FA;


}



/* Global styles */
body {
	font-family: var(--main-font-family);
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--page-text);
}

.nav-item {
	color: var(--primary-black);
}

.list {
	list-style: none;
}

.link {
	text-decoration: none;
	color: currentColor
}

.logo {
	font-family: var(--logo-font-family);
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: var(--accent);
}

.header {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
}

.header-item .link {
	color: var(--header-link-clr);
}

.header .header-logo {
	color: var(--logo-bl);
}

.header {
	background-color: var(--header-bkgrnd);
}

.footer-logo {
	color: var(--primary-white);
}

.footer {
	background-color: var(--dark-background);
}

.address-link[target="_blank"] {
	color: var(--primary-white);
}


.address {
	font-style: inherit;
	color: var(--transparent-white);
}



/* Custom Styles */
.section-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--primary-black);
}

/* index-page styles */

/* hero-section styles */
.hero-btn:hover,
.hero-btn:focus {
	color: var(--primary-white);
	background-color: var(--btn-hover);
}

.hero-btn {
	background-color: var(--accent);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	color: var(--primary-white);
	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.06em;
	cursor: pointer;
}

.hero-title {
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--primary-white);
}

.hero {
	background-color: var(--dark-background);
}

/* features-section styles */
.features .section-title {
	display: none;
}

.features-title {
	font-weight: 700;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--primary-black);
}

/* work-section styles */

/* team-section styles */
.team-item {
	text-align: center;

}

.team-title,
.team-text {
	font-size: 16px;
	line-height: 1.19;
}

.team-title {
	color: var(--primary-black);
	font-weight: 500;
}

/* Portfolio-page styles */
.portfolio-title {
	display: none;
}

.filter-btn {
	background-color: var(--flt-btn-bgc);
	color: var(--primary-black);
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	text-align: center;
	cursor: pointer;
	border-radius: 4px;
}

.filter-btn:hover,
.filter-btn:focus {
	background-color: var(--accent);
	color: var(--primary-white);
}


.portfolio-subtitle {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--primary-black);

}

.portfolio-text {
	font-size: 16px;
	line-height: 1.88;
}

.nav-link:hover,
.nav-link:focus,
.address-link:hover,
.address-link:focus {
	color: var(--accent);
}